@import "tailwindcss";
html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Pretendard:SemiBold", sans-serif;
}
